.usercard {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-shadow: 0px 0px 8px 2px var(--box-shodow-color);
  padding: 1rem;
  border-radius: 0.5rem;
}

.usercard img {
  width: 100px;
  border-radius: 50%;
}

.usercard__details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.usercard__details h3 {
  margin: auto;
}

.github {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.github svg {
  font-size: 1.5rem;
}

.logout {
  text-align: center;
}
